
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("blackJack.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bolder;
}
h1 {
  color: darkgoldenrod;
  font-weight: bolder;
}
#message_el {
  font-style: italic;
}
button {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-weight: bolder;
  color: rgb(32, 0, 100);
  background-color: darkgoldenrod;
  margin-bottom: 4px;
  margin-top: 4px;
}
#player-el {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-weight: bolder;
  color: rgb(32, 0, 100);
  background-color: darkgoldenrod;
  margin-bottom: 4px;
  margin-top: 4px;
  float:unset;
}
